

.GFG {
  background-color: #325D88;
  border: 2px solid #325D88;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration:none;
  border-radius: 10px;
}
